<form action="/cart" method="post">
    <button class="btn" type="submit">Add to Cart</button>
    <!-- This input is for csrf and the name should be exactly like below -->
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <input type="hidden" name="productId" value="<%= product._id %>" />
</form>
