
<!-- * To import file we use "-" sign and for text we use "=" sign -->
<%- include("./includes/head.ejs") %>
</head>
</html>

    <body>
        <%- include("./includes/navigation.ejs") %>
        <h1>Page Not Found!</h1>
    </body>
</html>
